@use '../base';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator {
    @include base.card;
    @include base.article;
    @include base.article-left;
}

#backend {
    margin-top: calc(1.5rem + 2vw);
    @include base.article;
    @include base.article-right;
}

#portfolio {
    margin-top: calc(1.5rem + 2vw);
    @include base.card;
    @include base.article;
    @include base.article-left;
}