@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

$color-one: #FEFFFA;
$color-two: #d75442;
$color-three: #000000;
$color-four: white;
$color-five: black;
$stroke-color: #B0B2B5;
$typeface-one: "Montserrat", Arial, sans-serif;
$typeface-two: "Open Sans", Arial, sans-serif;
$stroke: 0px solid $stroke-color;
$line: 3px solid $color-two;
$box-shadow: 0 6px 20px rgb(180, 180, 180);
$card-border-radius: 6px;
$width: 87%;


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Open Sans", "Arial", sans-serif;
}



/* header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 3.5rem;

    nav ul {
        display: flex;
            
        li {
            list-style: none;
            padding: 0rem 0.8rem;
            font-family: "Open Sans", "Arial", sans-serif;
            font-size: 0.65rem;
            font-weight: 700;

            a {
                text-decoration: none;
                color: #494949;
            }
        }
    }
        
    #logo {
          font-family: "Montserrat", Arial, sans-serif;
          font-size: 1rem;
    }
}



/* footer */
footer {
  display: flex;
  justify-content: center;

  p {
    padding: 0.4rem;
    font-size: 0.6rem;
    font-weight: 600;  }
}



.button {
    margin-top: 3.5%;
    text-decoration: none;
    color: white;
    display: block;
    background-color: $color-two;
    padding: 0.4rem 0.7rem;
    border-radius: 25px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    box-shadow: 0 2px 3px #7d7d7d;
}

p {
    color: #494949;
}

.decorator {
    font-family: "Satisfy", Arial, sans-serif;
    font-size: 0.8rem;
    color: #979797;
}



@mixin left-article {
    width: 89%;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow-one;
    background-color: $color-one;
    padding: 0 3rem;
    
    h2 {

    }
    
    figure {
        width: 180px;
        height: 180px;
        margin: 0;
        float: right;
        background-color: white;
        border-radius: 14px;
        box-shadow: 1px 1px 5px rgb(176, 176, 176);
        margin: 0 2.5rem 1rem 0;
    }

    div {
        width: 180px;
        height: 180px;
    }

    p {
        font-size: 0.85rem;
        line-height: 1.4rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }

    .button {
        display: inline-block;
    }
}

@mixin center-article {
    width: 89%;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow-one;
    background-color: $color-one;
    padding: 0 3rem;
    
    h2 {
        border-bottom: $line;
        padding-bottom: 0.35rem;
        display: inline-block;
        margin-right: 100%;
        white-space: nowrap;
    }
    
    figure {
        width: 180px;
        height: 180px;
        margin: 0;
        float: left;
        background-color: white;
        border-radius: 14px;
        box-shadow: 1px 1px 5px rgb(176, 176, 176);
        margin: 0 2.5rem 1rem 0;
    }

    div {
        width: 180px;
        height: 180px;
    }

    p {
        font-size: 0.85rem;
        line-height: 1.4rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }
}


@mixin card {
    background-color: $color-one;
    border-radius: $card-border-radius;
    box-shadow: 0 6px 20px rgb(180, 180, 180);
}

@mixin article {
    padding: 2rem 3.5rem;
    width: $width;

    h2 {
        border-bottom: $line;
        margin: 0rem;
        padding-bottom: 0.35rem;
        margin-bottom: 0;
        display: inline-block;
    }
    
    p {
        font-size: 0.85rem;
        line-height: 1.4rem;
        font-weight: 500;
    }

    .button {
        display: inline-block;
    }
}

@mixin article-right {
    h2 {
        margin-left: 100%;
        transform: translateX(-100%);
        white-space: nowrap;
    }

    .button {
        margin-left: 100%;
        transform: translateX(-100%);
        white-space: nowrap;
    }
}

@mixin article-left {
    h2 {
        margin-right: 100%;
        white-space: nowrap;
    }
}