@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');


/* VARIABLES */

// colors
$color-one: #fbfdf2;
$color-two: #ef1d28;

// headings
$font-family-heading: "Montserrat", Arial, sans-serif;
$font-size-heading: clamp(1.85rem, 1.55rem + 1vw, 2.25rem);
$font-weight-heading: 700;
$text-color-heading: black;
$line-height-heading: 1.7rem;

//subheadings
$font-family-subheading: "Montserrat", Arial, sans-serif;
$font-size-subheading: clamp(0.8rem, 0.5rem + 1vw, 1.3rem);
$font-weight-subheading: 700;
$text-color-subheading: black;
$line-height-subheading: 1.7rem;


// standard text
$font-family-standard: "Open Sans", Arial, sans-serif;
$font-size-standard: clamp(0.95rem, 0.6rem + 1vw, 1.2rem);
$font-weight-standard: 500;
$text-color-standard: #494949;
$line-height-standard: 1.7rem;

// button text
$font-family-button: "Montserrat", Arial, sans-serif;
$font-size-button: clamp(0.7rem, 0.4rem + 1vw, 0.9rem);
$font-weight-button: bold;
$text-color-button: white;
$line-height-button: 1.7rem;

// nav text
$font-family-nav: "Open Sans", Arial, sans-serif;
$font-size-nav: clamp(0.65rem, 0.32rem + 1.2vw, 1.1rem);
$font-weight-nav: 700;
$text-color-nav: #494949;
$line-height-nav: 1.7rem;




// heading underline
$line: 3px solid $color-two;

// card component properties
$box-shadow: 0 9px 30px rgb(189, 189, 189);
$card-border-radius: 6px;

// gap between sections
$section-gap: calc(3.5rem + 3vw);



// figure dimensions
$square-width: clamp(150px, 120px + 7vw, 200px);
$square-height: clamp(150px, 120px + 7vw, 200px);
$rectangle-width: clamp(200px, 170px + 7vw, 250px);
$rectangle-height: clamp(150px, 120px + 7vw, 200px);





/* Section Properties */
//section small properties
$section-small-width: 93%;
$section-small-top-padding: 1.2rem;
$section-small-side-padding: 1.2rem;

//section medium properties
$section-medium-width: 87%;
$section-medium-top-padding: 2rem;
$section-medium-side-padding: 2rem;

//section large properties
$section-large-width: 87%;
$section-large-top-padding: 2rem;
$section-large-side-padding: 2rem;

//section extra large properties
$section-extralarge-width: 87%;
$section-extralarge-top-padding: 2rem;
$section-extralarge-side-padding: 2rem;





/* Blog Preview Properties */
//section small properties
$blog-small-width: 100%;
$blog-small-padding: 1.2rem;
$blog-small-margin: 1.2rem;

//section medium properties
$blog-medium-width: 80%;
$blog-medium-padding: 1.2rem;
$blog-medium-margin: 1.2rem;

//section large properties
$blog-large-width: 45%;
$blog-large-padding: 1.2rem;
$blog-large-margin: 1.2rem;

//section extra large properties
$blog-extralarge-width: 45%;
$blog-extralarge-padding: 1.2rem;
$blog-extralarge-margin: 1.2rem;







/* MIXINS */

@mixin page-settings-small {
    body > section, body > article, main {
        width: $section-small-width;
        padding: $section-small-top-padding $section-small-side-padding;

        nav ul li {
            width: $blog-small-width;

            article {
                padding: $blog-small-padding;
                margin-top: $blog-small-margin;
            }
        }
    }
}

@mixin page-settings-medium {
    body > section, body > article, main {
        width: $section-medium-width;
        padding: $section-medium-top-padding $section-medium-side-padding;

        nav ul li {
            width: $blog-medium-width;

            article {
                padding: $blog-medium-padding;
                margin-top: $blog-medium-margin;
            }
        }
    }
}

@mixin page-settings-large {
    body > section, body > article, main {
        width: $section-large-width;
        padding: $section-large-top-padding $section-large-side-padding;

        nav ul li {
            width: $blog-large-width;

            article {
                padding: $blog-large-padding;
                margin-top: $blog-large-margin;
            }
        }
    }
}

@mixin page-settings-extralarge {
    body > section, body > article, main {
        width: $section-extralarge-width;
        padding: $section-extralarge-top-padding $section-extralarge-side-padding;

        nav ul li {
            width: $blog-extralarge-width;

            article {
                padding: $blog-extralarge-padding;
                margin-top: $blog-extralarge-margin;
            }
        }
    }
}




@mixin card {
    background-color: white;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow
}

@mixin figure-display {
    background: white;
    box-shadow: 0 1.5px 4px rgb(156, 156, 156);
    border-radius: $card-border-radius;
    overflow: hidden;
    position: relative;
}

@mixin img-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin underline {
    border-bottom: $line;
    padding-bottom: clamp(0.6rem, 0.25rem + 1vw, 1rem);
    display: inline-block;
    margin-bottom: 0.4rem;
    margin-top: 0;
}

@mixin figure-square {
    figure {
        width: $square-width;
        height: $square-height;
    }
}

@mixin figure-rectangle {
    figure {
        width: $rectangle-width;
        height: $rectangle-height;
    }
}



@mixin article-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    figure {
        float: right;
    }
}

@mixin article-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
    }
}

@mixin article-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    figure {
        float: left;
    }
}


// blog list mixins
@mixin blog-list-1col {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;

    article {
        @include article-center;
        @include card;
        @include figure-rectangle;
    }

    p, h3 {
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}

@mixin blog-list-2cols {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;

    article {
        @include article-center;
        @include card;
        @include figure-rectangle;
    }

    p, h3 {
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
}

@mixin header-nav-selected {
    font-size: calc($font-size-nav * 1.15);
    display: inline-block;
    border-bottom: $line;
}


// text mixins
@mixin text-standard {
    font-family: $font-family-standard;
    font-size: $font-size-standard;
    font-weight: $font-weight-standard;
    color: $text-color-standard;
    line-height: $line-height-standard;
}

@mixin text-heading {
    font-family: $font-family-heading;
    font-size: $font-size-heading;
    font-weight: $font-weight-heading;
    color: $text-color-heading;
    line-height: $line-height-heading;
    @include underline;
}

@mixin text-subheading {
    font-family: $font-family-subheading;
    font-size: $font-size-subheading;
    font-weight: $font-weight-subheading;
    color: $text-color-subheading;
    line-height: $line-height-subheading;
    @include underline;
}

@mixin text-button {
    font-family: $font-family-button;
    font-size: $font-size-button;
    font-weight: $font-weight-button;
    color: $text-color-button;
    line-height: $line-height-button;
}

@mixin text-nav {
    font-family: $font-family-nav;
    font-size: $font-size-nav;
    font-weight: $font-weight-nav;
    color: $text-color-nav;
    line-height: $line-height-nav;
}






//global settings
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Open Sans", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfffa;
}

p, li, label, input {
    @include text-standard;
}

h1, h2 {
    @include text-heading;
}

h3 {
    @include text-subheading;
}

header a {
    @include text-nav;
}

.button {
    @include text-button;
    text-decoration: none;
    background-color: $color-two;
    padding: 0.4rem 0.7rem;
    border-radius: 25px;
    box-shadow: 0 2px 3px #7d7d7d;
    transition: 0.2s;
    display: inline-block;
}

body > section, body > article {
    margin-bottom: $section-gap;
}

figure {
    @include figure-display;
}

img {
    @include img-fit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}




// hover animations
.button:hover {
    box-shadow: 0 4px 5px rgb(180, 180, 180);
    transform: scale(1.04);
}


header a:hover {
    transform: scale(1.07);
}

a article:hover {
    transform: scale(1.02);
}





/* header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3.5rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    transition: 0.2s;

    #logo {
        font-family: "Montserrat", Arial, sans-serif;
        font-size: $font-size-heading;
        font-weight: $font-weight-heading;
    }

    nav ul {
        display: flex;
        align-items: center;
            
        li {
            list-style: none;
            padding: 0rem 0.8rem;

            a {
                text-decoration: none;
                display: inline-block;
            }
        }
    }
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: auto;
    min-height: 4.5rem;
  
    p {
      padding: 0.4rem;
      font-size: 0.7rem;
      font-weight: 600;
    }
}




// Responsiveness
@media screen and (max-width: 550px) {
    header {
        padding: 1.5rem;
        height: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    ul {
        padding: 0;
    }
}

@media screen and (min-width: 1051px) {
    body {
        width: 1100px;
        box-shadow: 0 6px 90px rgb(187, 187, 187);
    }

    html {
        background-color: #fafafa;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    @include page-settings-small;
}

@media screen and (min-width: 551px) and (max-width: 740px) {
    @include page-settings-medium;
}

@media screen and (min-width: 741px) and (max-width: 1050px) {
    @include page-settings-large;
}

@media screen and (min-width: 1051px) {
    @include page-settings-extralarge;
}