@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans", "Arial", sans-serif;
}

/* header */
header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 3%;
  border-bottom: 0px solid #B0B2B5;
  height: 3.5vh;
  box-shadow: 0 0px 4px #7d7d7d;
  background: white;
  z-index: 1;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 0rem 0.8rem;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.65rem;
  font-weight: 700;
  color: #494949;
}
header #logo {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: center;
}
footer p {
  padding: 0.4rem;
  font-size: 0.6rem;
  font-weight: 600;
}

.button {
  margin-top: 3.5%;
  text-decoration: none;
  color: white;
  display: block;
  background-color: #d75442;
  padding: 0.4rem 0.7rem;
  border-radius: 25px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  box-shadow: 0 2px 3px #7d7d7d;
}

p {
  color: #494949;
}

.decorator {
  font-family: "Satisfy", Arial, sans-serif;
  font-size: 0.8rem;
  color: #979797;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5vh;
  padding-bottom: 1.5vh;
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: 0px solid #B0B2B5;
}
main .container h1 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 3.1rem;
  margin: 0px;
}
main .container p {
  font-weight: 600;
  border-bottom: 3px solid #d75442;
  padding-bottom: 1.5rem;
}
main .container ul {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}
main .container ul li {
  font-size: 0.6rem;
  font-weight: 700;
  list-style: none;
  padding: 0 2%;
}
main .main-open {
  align-self: flex-start;
  padding: 3.5%;
}
main .div-open {
  align-self: flex-start;
  padding: 0 0 2% 12%;
}
main .div-close {
  align-self: flex-start;
  padding: 4% 0 0 12%;
}
main .main-close {
  align-self: flex-start;
  padding: 3.5%;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  border-bottom: 0px solid #B0B2B5;
  background-color: #FEFFFA;
  border-radius: 0 7px 7px 0;
  box-shadow: 0 3px 15px rgb(180, 180, 180);
  width: 92%;
}
#about h2 {
  border-bottom: 3px solid #d75442;
  margin: 0rem;
  padding-bottom: 0.35rem;
  margin-bottom: 0;
}
#about p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 500;
}
#about figure {
  margin: 0;
}
#about section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#about .button {
  margin: 1rem 0;
}
#about section {
  align-items: flex-start;
}
#about img {
  margin-left: 2rem;
}

#projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  border-bottom: 0px solid #B0B2B5;
  background-color: #FEFFFA;
  border-radius: 0 7px 7px 0;
  box-shadow: 0 3px 15px rgb(180, 180, 180);
  width: 92%;
}
#projects h2 {
  border-bottom: 3px solid #d75442;
  margin: 0rem;
  padding-bottom: 0.35rem;
  margin-bottom: 0;
}
#projects p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 500;
}
#projects figure {
  margin: 0;
}
#projects section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#projects .button {
  margin: 1rem 0;
}
#projects section {
  align-items: flex-start;
}
#projects img {
  margin-left: 2rem;
}

#blogs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 3.5rem 1rem;
}
#blogs h2 {
  border-bottom: 3px solid #d75442;
  margin: 0 3rem 0 3rem;
  padding-bottom: 0.35rem;
  margin-bottom: 3%;
}
#blogs .container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#blogs .container article {
  width: 35%;
  padding: 0.3rem 1.5rem;
  flex: 0 1 auto;
  text-align: center;
  background-color: #FEFFFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  box-shadow: 0 3px 15px rgb(180, 180, 180);
  border-radius: 7px;
}
#blogs .container article h3 {
  font-size: 0.85rem;
  border-bottom: 3px solid #d75442;
  padding-bottom: 0.6rem;
}
#blogs .container article figure {
  margin: 0;
}
#blogs .container article p {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(101, 101, 101);
  margin: 0.4rem;
}

img {
  box-shadow: 0 1.5px 4px #a4a4a4;
  border-radius: 8px;
}/*# sourceMappingURL=home.css.map */