@use '../base';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// main
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: calc(5vh + 4%);
    
    h1 {
        font-family: base.$typeface-one;
        font-size: 3.1rem;
        margin: 0px;
    }

    p {
        font-weight: 600;
        border-bottom: base.$line;
        padding-bottom: 1.5rem;

    }

    ul {
        margin-top: 0.6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        li {
            font-size: 0.6rem;
            font-weight: 700;
            list-style: none;
            padding: 0 2%;
        }
    }
    /*
    .main-open {
        align-self: flex-start;
        padding: 3% 6%;
    }

    .div-open {
        align-self: flex-start;
        padding: 0 0 3% 15%
    }

    .div-close {
        align-self: flex-start;
        padding: 3% 15%;
    }

    .main-close {
        align-self: flex-start;
        padding: 3% 6%;
    }
    */
}




// About
#about {
    @include base.card;
    @include base.article;
    @include base.article-left;
    margin-top: calc(1.5rem + 2vw);
}


// Blogs
#blogs {
    @include base.article;
    @include base.article-right;
    margin-top: calc(1.5rem + 2vw);
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
        margin-bottom: 1rem;
    }

    article {
        width: 46%;
        @include base.blog-preview;
    }
}


// Projects
#projects {
    @include base.card;
    @include base.article;
    @include base.article-left;
    margin-top: calc(1.5rem + 2vw);
}