@use '../base';

#home-button {
    @include base.header-nav-selected;
}


// Hero
#hero {
    margin: 1rem 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    #img-logo-container {
        width: clamp(4rem, 3rem + 5vw, 7rem);
        height: clamp(4rem, 3rem + 5vw, 7rem);
        border-radius: 50%;
        margin: clamp(1.5rem, 0.7rem + 3vw, 3rem);
    }
    
    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1 {
        font-size: calc(base.$font-size-heading * 2);
        margin-bottom: 0.45rem;
        border: none;
    }

    p {
        @include base.underline;
    }

    ul {
        margin-top: 0.6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        
        li {
            font-size: 0.65rem;
            font-weight: 700;
            list-style: none;
            padding: 0 2%;
        }
    }
}




/* SMALL Viewport */
@media screen and (max-width: 550px) {
    @include base.page-settings-small;

    #about {
        @include base.article-center-card-squarefig-button;
    }

    #projects {
        @include base.article-center-nocard-squarefig-button;
    }

    #blogs {
        order: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        nav {
            @include base.blog-list-1col;
        }
    }

    #hero {
        h1 {
            font-size: calc(base.$font-size-heading * 1.6);
        }
    }

    footer {
        order: 2;
    }
}


/* MEDIUM Viewport*/
@media screen and (min-width: 551px) and (max-width: 740px) {
    @include base.page-settings-medium;

    #about {
        @include base.article-left-card-squarefig-button;
    }

    #projects {
        @include base.article-right-nocard-squarefig-button;
    }

    #blogs {
        order: 1;

        h2 {
            @include base.align-left;
        }

        nav {
            @include base.blog-list-1col;
        }
    }

    footer {
        order: 2;
    }
}

/* LARGE Viewport */
@media screen and (min-width: 741px) and (max-width: 1050px) {
    @include base.page-settings-large;

    #about {
        @include base.article-left-card-squarefig-button;
    }

    #blogs {
        padding-left: 0;
        padding-right: 0;

        h2 {
            transform: translateX(base.$section-large-side-padding);
            @include base.align-left;
        }

        nav {
            @include base.blog-list-2cols;
        }
    }

    #projects {
        @include base.article-left-card-squarefig-button;
    }
}

/* EXTRA LARGE */
@media screen and (min-width: 1051px) {
    @include base.page-settings-extralarge;

    #about {
        @include base.article-left-card-squarefig-button;
    }

    #blogs {
        padding-left: 0;
        padding-right: 0;

        h2 {
            transform: translateX(base.$section-extralarge-side-padding);
            @include base.align-left;
        }

        nav {
            @include base.blog-list-2cols;
        }
    }

    #projects {
        @include base.article-left-card-squarefig-button;
    }
}