@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap");
/* VARIABLES */
/* Section Properties */
/* Blog Preview Properties */
/* MIXINS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfffa;
}

p, li, label, input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: clamp(0.95rem, 0.6rem + 1vw, 1.2rem);
  font-weight: 500;
  color: #494949;
  line-height: 1.7rem;
}

h1, h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(1.85rem, 1.55rem + 1vw, 2.25rem);
  font-weight: 700;
  color: black;
  line-height: 1.7rem;
  border-bottom: 3px solid #ef1d28;
  padding-bottom: clamp(0.6rem, 0.25rem + 1vw, 1rem);
  display: inline-block;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

h3 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1.3rem);
  font-weight: 700;
  color: black;
  line-height: 1.7rem;
  border-bottom: 3px solid #ef1d28;
  padding-bottom: clamp(0.6rem, 0.25rem + 1vw, 1rem);
  display: inline-block;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

header a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: clamp(0.65rem, 0.32rem + 1.2vw, 1.1rem);
  font-weight: 700;
  color: #494949;
  line-height: 1.7rem;
}

.button {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(0.7rem, 0.4rem + 1vw, 0.9rem);
  font-weight: bold;
  color: white;
  line-height: 1.7rem;
  text-decoration: none;
  background-color: #ef1d28;
  padding: 0.4rem 0.7rem;
  border-radius: 25px;
  box-shadow: 0 2px 3px #7d7d7d;
  transition: 0.2s;
  display: inline-block;
}

body > section, body > article {
  margin-bottom: calc(3.5rem + 3vw);
}

figure {
  background: white;
  box-shadow: 0 1.5px 4px rgb(156, 156, 156);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 4px 5px rgb(180, 180, 180);
  transform: scale(1.04);
}

header a:hover {
  transform: scale(1.07);
}

a article:hover {
  transform: scale(1.02);
}

@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
    box-shadow: 0 6px 90px rgb(187, 187, 187);
  }
  html {
    background-color: #fafaf7;
    display: flex;
    justify-content: center;
  }
}
/* header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3.5rem;
  height: 3.5rem;
  margin-bottom: 2rem;
  transition: 0.2s;
}
header #logo {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(1.85rem, 1.55rem + 1vw, 2.25rem);
  font-weight: 700;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style: none;
  padding: 0rem 0.8rem;
}
header nav ul li a {
  text-decoration: none;
  display: inline-block;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: auto;
  min-height: 4.5rem;
}
footer p {
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: 600;
}

#home-button {
  font-size: calc(clamp(0.65rem, 0.32rem + 1.2vw, 1.1rem) * 1.15);
  display: inline-block;
  border-bottom: 3px solid #ef1d28;
}

#hero {
  margin: 3rem 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#hero h1 {
  font-size: calc(clamp(1.85rem, 1.55rem + 1vw, 2.25rem) * 2);
  margin-bottom: 0.45rem;
  border: none;
}
#hero p {
  font-weight: 600;
  border-bottom: 3px solid #ef1d28;
  padding-bottom: 1.5rem;
}
#hero ul {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}
#hero ul li {
  font-size: 0.65rem;
  font-weight: 700;
  list-style: none;
  padding: 0 2%;
}

/*
// iPhone to iPad Mini
@media screen and (max-width: 550px) {
    #about, #projects {
        width: 93.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 2.4rem;
        padding-left: 2.4rem;

        h2 {
            margin-bottom: 0.35rem;
            margin-left: 0;
            margin-right: 0;
        }

        .button {
            margin: 2.3rem 0 0.7rem 0;
            order: 2;
        }

        .img-container {
            float: none;
            margin: 0.7rem 0 0 0;
            order: 1;
        }
    }

    #blogs {
        flex-direction: column;
        align-items: center;
        order: 1;
        width: 93.5%;

        h2 {
            transform: none;
            margin-bottom: 1.6rem;
            margin-right: 0;
            margin-left: 0;
        }
        nav {
            justify-content: center;
            width: 100%;

            li {
                width: 100%;
                background-color: base.$color-one;
            }
        }
    }

    footer {
        order: 2;
    }
}
*/
@media screen and (max-width: 550px) {
  body > section, body > article {
    width: 93.5%;
    padding: 2rem 2rem;
  }
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 9px 30px rgb(189, 189, 189);
  }
  #about figure {
    background: white;
    box-shadow: 0 1.5px 4px rgb(156, 156, 156);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 170px;
    order: 1;
  }
  #about img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #about .button {
    order: 2;
  }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
  body > section, body > article {
    width: 87%;
    padding: 2rem 2rem;
  }
  body > section li, body > article li {
    width: 50%;
  }
  body > section li article, body > article li article {
    padding: 1rem;
    margin: 1rem;
  }
  #about {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 9px 30px rgb(189, 189, 189);
  }
  #about figure {
    width: 170px;
    height: 170px;
    float: left;
  }
  #about h2 {
    margin-left: 100%;
    transform: translateX(-100%);
    white-space: nowrap;
  }
  #about .button {
    margin-left: 100%;
    transform: translateX(-100%);
    white-space: nowrap;
  }
  #blogs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  #blogs h2 {
    margin-left: 100%;
    transform: translateX(-100%);
    white-space: nowrap;
    margin-bottom: 2rem;
  }
  #blogs article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 9px 30px rgb(189, 189, 189);
  }
  #blogs article figure {
    background: white;
    box-shadow: 0 1.5px 4px rgb(156, 156, 156);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 170px;
    order: 1;
  }
  #blogs article img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #blogs article .button {
    order: 2;
  }
  #blogs p {
    text-align: center;
  }
  #blogs nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=home.css.map */