@use '../base';

// styles the home link in top nav bar
#home-button {
    @include base.header-nav-selected;
}


// Hero component styles
#hero {
    margin: 1rem 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    #img-logo-container {
        width: clamp(4rem, 3rem + 5vw, 7rem);
        height: clamp(4rem, 3rem + 5vw, 7rem);
        border-radius: 50%;
        margin: clamp(1.5rem, 0.7rem + 3vw, 3rem);
    }
    
    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1 {
        font-size: calc(base.$font-size-heading * 2);
        margin-bottom: 0.45rem;
        border: none;
    }

    p {
        @include base.underline;
    }

    ul {
        margin-top: 0.6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        
        li {
            font-size: 0.65rem;
            font-weight: 700;
            list-style: none;
            padding: 0 2%;
        }
    }
}




// screen specific styles
@media screen and (max-width: 550px) {
    // about page preview styles
    #about {
        @include base.article-center;
        @include base.card;
        @include base.figure-square;
    }

    // about page preview styles
    #projects {
        @include base.article-center;
        @include base.figure-square;
    }

    // blog article list preview styles
    #blogs {
        order: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        nav {
            @include base.blog-list-1col;
        }
    }

    // updating hero component
    #hero {
        h1 {
            font-size: calc(base.$font-size-heading * 1.6);
        }
    }

    // footer styling
    footer {
        order: 2;
    }
}


// screen specific styles
@media screen and (min-width: 551px) and (max-width: 740px) {
    // about page preview styles
    #about {
        @include base.article-left;
        @include base.card;
        @include base.figure-square;
    }

    // projects page preview styles
    #projects {
        @include base.article-right;
        @include base.figure-square;
    }

    // blog article list preview styles
    #blogs {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            align-self: flex-start;
        }

        nav {
            @include base.blog-list-1col;
        }
    }

    // footer styling
    footer {
        order: 2;
    }
}

// screen specific styles
@media screen and (min-width: 741px) {
    // about page preview styles
    #about {
        @include base.article-left;
        @include base.card;
        @include base.figure-square;
    }

    // blog list preview styles
    #blogs {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            align-self: flex-end;
        }

        nav {
            @include base.blog-list-2cols;
        }
    }

    // projects page preview styles
    #projects {
        @include base.article-left;
        @include base.card;
        @include base.figure-square;
    }
}