@use '../base';

#about-button {
    @include base.header-nav-selected;
}


@mixin mini-card-display {
    h2 {
        @include base.align-right;
        margin-bottom: 0.6rem;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
            height: 4rem;
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0.45rem;
            line-height: normal;
            @include base.card;
            figure {
                margin: 0;
                width: 100%;
                height: auto;
                padding: 0.1rem;
                box-shadow: none;
            }
            img {
                object-fit: scale-down;
                margin: 0rem;
            }
            p {
                font-weight: 700;
                text-align: center;
                align-self: center;
            }
        }
    }
}



/* SMALL */
@media screen and (max-width: 550px) {
    @include base.page-settings-small;
    #mystory {
        @include base.article-center-card-squarefig-button;
    }
    section {
        @include mini-card-display;  
        li {
            width: 45%;
        }
    }
    #interests {
        @include base.article-center-card-squarefig-nobutton;
    }
}


/* MEDIUM */
@media screen and (min-width: 551px) and (max-width: 740px) {
    @include base.page-settings-medium;
    #mystory {
        @include base.article-left-card-squarefig-button;
    }
    section {
        @include mini-card-display;
        li {
            width: 40%;
        }
    }
    #interests {
        @include base.article-left-card-squarefig-nobutton;
    }
}

/* LARGE */
@media screen and (min-width: 741px) and (max-width: 1050px) {
    @include base.page-settings-large;
    #mystory {
        @include base.article-left-card-squarefig-button;
    }
    section {
        @include mini-card-display;
        li {
            width: 22%;
        }
    }
    #interests {
        @include base.article-left-card-squarefig-nobutton;
    }
}

/* EXTRA LARGE */
@media screen and (min-width: 1051px) {
    @include base.page-settings-extralarge;
    #mystory {
        @include base.article-left-card-squarefig-button;
    }
    section {
        @include mini-card-display;  
        li {
            width: 22%;
        }
    }
    #interests {
        @include base.article-left-card-squarefig-nobutton;
    }
}