@use '../base';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    margin-top: calc(0.8vh + 4.5%);
    @include base.article;
    @include base.article-left;
    @include base.card;
}

section {
    width: base.$width;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;

    h2 {
        border-bottom: base.$line;
        padding-bottom: 0.35rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            width: 22%;
            height: 4rem;
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0.45rem;
            @include base.card;

            img {
                max-height: 100%;
                max-width: 100%;
                border-radius: 5px;
            }

            p {
                font-size: 0.9rem;
                font-weight: 700;
            }
        }
    }
}