@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans", "Arial", sans-serif;
}

/* header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 3.5rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 0rem 0.8rem;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.65rem;
  font-weight: 700;
}
header nav ul li a {
  text-decoration: none;
  color: #494949;
}
header #logo {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
}

.button {
  margin-top: 3.5%;
  text-decoration: none;
  color: white;
  display: block;
  background-color: #ef4242;
  padding: 0.4rem 0.7rem;
  border-radius: 25px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  box-shadow: 0 2px 3px #7d7d7d;
}

p label {
  color: #494949;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
}
footer p {
  padding: 0.4rem;
  font-size: 0.6rem;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  margin-top: calc(0.8vh + 4.5%);
  padding: 2rem 3.5rem;
  width: 87%;
  background-color: #FEFFFA;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgb(180, 180, 180);
}
article h2 {
  border-bottom: 3px solid #ef4242;
  margin: 0rem;
  padding-bottom: 0.35rem;
  margin-bottom: 0;
  display: inline-block;
}
article p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 500;
}
article .button {
  display: inline-block;
}
article h2 {
  margin-right: 100%;
  white-space: nowrap;
}
article .button {
  margin-right: 100%;
  white-space: nowrap;
}
article figure {
  width: 150px;
  height: 150px;
  background: white;
  box-shadow: 0 1.5px 4px rgb(156, 156, 156);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 0 0.5rem 2rem;
  float: right;
}
article img {
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  width: 87%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
}
section h2 {
  border-bottom: 3px solid #ef4242;
  padding-bottom: 0.35rem;
}
section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
section ul li {
  width: 22%;
  height: 4rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.45rem;
  background-color: #FEFFFA;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgb(180, 180, 180);
}
section ul li img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
}
section ul li p {
  font-size: 0.9rem;
  font-weight: 700;
}/*# sourceMappingURL=about.css.map */