@use '../base';

.back-nav {
    align-self: flex-start;
    margin-left: calc((100% - base.$section-medium-width) / 2 + base.$section-medium-side-padding);
    margin-bottom: 1.8rem;
}

.date {
    color: gray;
}


/* SMALL */
@media screen and (max-width: 550px) {
    @include base.page-settings-small;

    article {
        @include base.article-center;
        @include base.card;
        @include base.figure-rectangle;
    }
}


/* MEDIUM */
@media screen and (min-width: 551px) and (max-width: 740px) {
    @include base.page-settings-medium;

    article {
        @include base.article-left;
        @include base.card;
        @include base.figure-rectangle;
    }
}

/* LARGE */
@media screen and (min-width: 741px) and (max-width: 1050px) {
    @include base.page-settings-large;

    article {
        @include base.article-left;
        @include base.card;
        @include base.figure-rectangle;
    }
}

/* EXTRA LARGE */
@media screen and (min-width: 1051px) {
    @include base.page-settings-extralarge;

    article {
        @include base.article-left;
        @include base.card;
        @include base.figure-rectangle;
    }
}