@use '../base';

.back-nav {
    align-self: flex-start;
    margin-left: calc(((100% - base.$article-width) / 2));
}

article {
    margin-top: calc(0.5vh + 4.5%);
    @include base.article;
    @include base.card;
    
    h2 {
        @include base.align-left;
    }

    figure {
        @include base.figure-display;
        @include base.rectangle;
        margin-left: 0;
        float: left;
    }

    img {
        @include base.img-fit;
    }
}