@use '../base';

// styles the about link in top nav bar
#about-button {
    @include base.header-nav-selected;
}

// skils section
section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h2 {
        align-self: flex-end;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
            height: 4rem;
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0.45rem;
            line-height: normal;
            @include base.card;
            figure {
                margin: 0;
                width: 100%;
                height: auto;
                padding: 0.1rem;
                box-shadow: none;
            }
            img {
                object-fit: scale-down;
                margin: 0rem;
            }
            p {
                font-weight: 700;
                text-align: center;
                align-self: center;
            }
        }
    }
}



//screen specific styles
@media screen and (max-width: 550px) {
    // my story section
    #mystory {
        @include base.article-center;
        @include base.card;
        @include base.figure-square;
    }

    // updating card width in skills section
    section {
        li {
            width: 45%;
        }
    }

    // interests and personality section
    #interests {
        @include base.article-center;
        @include base.card;
        @include base.figure-square;
    }
}


// screen specifc styles
@media screen and (min-width: 551px) {
    // my story section
    #mystory {
        @include base.article-left;
        @include base.card;
        @include base.figure-square;
    }

    // updating card width in skills section
    section {
        li {
            width: 40%;
        }
    }
    // interests and personality section
    #interests {
        @include base.article-left;
        @include base.card;
        @include base.figure-square;
    }
}

// screen specific styles 
@media screen and (min-width: 741px) {
    // updating card width in skills section
    section {
        li {
            width: 22%;
        }
    }
}