@use '../base';

body {
    display: flex;
    flex-direction: column;
}

main {
    @include base.article;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
        width: 46%;
        @include base.blog-preview;
    }
}