@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap");
/* VARIABLES */
/* Page Section Variables */
/* Blog List Variables */
/* MIXINS */
/* GLOBAL RULES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfffa;
}

p, li, label, input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: clamp(0.95rem, 0.6rem + 1vw, 1.2rem);
  font-weight: 500;
  color: #494949;
  line-height: 1.7rem;
}

h1, h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(1.85rem, 1.55rem + 1vw, 2.25rem);
  font-weight: 700;
  color: black;
  line-height: 1.7rem;
  border-bottom: 3px solid #ef1d28;
  padding-bottom: clamp(0.6rem, 0.25rem + 1vw, 1rem);
  display: inline-block;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

h3 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1.3rem);
  font-weight: 700;
  color: black;
  line-height: 1.7rem;
  border-bottom: 3px solid #ef1d28;
  padding-bottom: clamp(0.6rem, 0.25rem + 1vw, 1rem);
  display: inline-block;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

header a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: clamp(0.65rem, 0.32rem + 1.2vw, 1.1rem);
  font-weight: 700;
  color: #494949;
  line-height: 1.7rem;
}

.button {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(0.7rem, 0.4rem + 1vw, 0.9rem);
  font-weight: bold;
  color: white;
  line-height: 1.7rem;
  text-decoration: none;
  background-color: #ef1d28;
  padding: 0.4rem 0.7rem;
  border-radius: 25px;
  box-shadow: 0 2px 3px #7d7d7d;
  transition: 0.2s;
  display: inline-block;
}

body > section, body > article {
  margin-bottom: calc(3.5rem + 3vw);
}

figure {
  background: white;
  box-shadow: 0 1.5px 4px rgb(156, 156, 156);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3.5rem;
  height: 3.5rem;
  margin-bottom: 2rem;
  transition: 0.2s;
}
header #logo {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(1.85rem, 1.55rem + 1vw, 2.25rem);
  font-weight: 700;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style: none;
  padding: 0rem 0.8rem;
}
header nav ul li a {
  text-decoration: none;
  display: inline-block;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: auto;
  min-height: 4.5rem;
}
footer p {
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.button:hover {
  box-shadow: 0 4px 5px rgb(180, 180, 180);
  transform: scale(1.04);
}

header a:hover {
  transform: scale(1.07);
}

a article:hover {
  transform: scale(1.02);
}

/* GLOBAL BREAKPOINTS */
@media screen and (max-width: 550px) {
  header {
    padding: 1.5rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  header nav {
    display: flex;
    justify-content: center;
  }
  header nav ul {
    padding: 0;
  }
}
@media screen and (min-width: 1051px) {
  body {
    width: 1100px;
    box-shadow: 0 6px 90px rgb(187, 187, 187);
  }
  html {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  body > section, body > article, main {
    width: 93%;
    padding: 1.2rem 1.3rem;
  }
  body > section nav ul li, body > article nav ul li, main nav ul li {
    width: 100%;
  }
  body > section nav ul li article, body > article nav ul li article, main nav ul li article {
    padding: 1.2rem;
    margin-top: 1.3rem;
  }
}
@media screen and (min-width: 551px) and (max-width: 740px) {
  body > section, body > article, main {
    width: 90%;
    padding: 1.6rem 2.2rem;
  }
  body > section nav ul li, body > article nav ul li, main nav ul li {
    width: 80%;
  }
  body > section nav ul li article, body > article nav ul li article, main nav ul li article {
    padding: 1.3rem;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 741px) {
  body > section, body > article, main {
    width: 87%;
    padding: 1.9rem 2.5rem;
  }
  body > section nav ul li, body > article nav ul li, main nav ul li {
    width: 45%;
  }
  body > section nav ul li article, body > article nav ul li article, main nav ul li article {
    padding: 1.6rem;
    margin-top: 1.7rem;
  }
}
#projects-button {
  font-size: calc(clamp(0.65rem, 0.32rem + 1.2vw, 1.1rem) * 1.15);
  display: inline-block;
  border-bottom: 3px solid #ef1d28;
}

@media screen and (max-width: 550px) {
  #calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 9px 30px rgb(189, 189, 189);
  }
  #calculator .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #calculator h2 {
    text-align: center;
  }
  #calculator figure {
    width: clamp(150px, 120px + 7vw, 200px);
    height: clamp(150px, 120px + 7vw, 200px);
  }
  #backend {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #backend .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #backend h2 {
    text-align: center;
  }
  #backend figure {
    width: clamp(150px, 120px + 7vw, 200px);
    height: clamp(150px, 120px + 7vw, 200px);
  }
  #portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 9px 30px rgb(189, 189, 189);
  }
  #portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portfolio h2 {
    text-align: center;
  }
  #portfolio figure {
    width: clamp(150px, 120px + 7vw, 200px);
    height: clamp(150px, 120px + 7vw, 200px);
  }
}
@media screen and (min-width: 551px) {
  #calculator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 9px 30px rgb(189, 189, 189);
  }
  #calculator figure {
    float: right;
  }
  #calculator figure {
    width: clamp(150px, 120px + 7vw, 200px);
    height: clamp(150px, 120px + 7vw, 200px);
  }
  #backend {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #backend figure {
    float: left;
  }
  #backend figure {
    width: clamp(150px, 120px + 7vw, 200px);
    height: clamp(150px, 120px + 7vw, 200px);
  }
  #portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 9px 30px rgb(189, 189, 189);
  }
  #portfolio figure {
    float: right;
  }
  #portfolio figure {
    width: clamp(150px, 120px + 7vw, 200px);
    height: clamp(150px, 120px + 7vw, 200px);
  }
}/*# sourceMappingURL=projects.css.map */